<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0ZRPMVgJAjTXTMrCeGWdwkFQVYXPKWu0</string>
	<key>GCM_SENDER_ID</key>
	<string>433767901659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttertemp.flutterTemp.dev</string>
	<key>PROJECT_ID</key>
	<string>fox-firebase-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fox-firebase-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433767901659:ios:0b9456099a3f70b619dffe</string>
</dict>
</plist>